# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment configuration files
.env
.env.local

# Ignore compiled code or build artifacts
/dist/
/build/

# Ignore editor-specific files
.vscode/
.idea/
